@import "./globals.scss";

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--bg-color);
  width: 90vw;
  box-shadow: rgba(#000000, 0.24) 0px 0px 12px 0px;
  padding: 6px 5%;
  z-index: 1500;

  .header_btn_section {
    display: flex;
    gap: 28px;
    width: 341px;
    align-items: center;
    .header_links {
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: bold;
      background-color: transparent !important;
      transition: 0.3s all;
      cursor: pointer;
      color: #000000;
      text-decoration: none;
      &:hover {
        color: rgb(81, 81, 81);
      }
      &:active {
        transform: translateY(15px);
      }
    }
  }
}
