@import "./globals.scss";

.header {
  display: flex;
  justify-content: space-between;
  //   position: fixed;
  width: 100vw;
  box-shadow: rgba(#000000, 0.24) 0px 0px 12px 0px;
  //   padding: 6px 5%;

  .header_btn_section {
    display: flex;
    gap: 28px;
    width: 341px;
    button {
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: bold;
      background-color: var(--bg-color);
      transition: 0.3s all;
      cursor: pointer;
      &:hover {
        color: rgb(81, 81, 81);
      }
      &:active {
        transform: translateY(15px);
      }
    }
  }
}
