@import "globals.scss";

.loc_input {
  background-image: url("../../public/Search_Icon.svg");
  background-repeat: no-repeat;
  background-position-y: 13px;
  background-position-x: 16px;
  border: none;
  width: 300px;
  padding: 16px 16px 16px 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--grey, rgba(0, 0, 0, 0.5));
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.locations,
.episodes {
  display: grid;
  grid-template-columns: 23.2% 23.2% 23.2% 23.2%;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  .loc_card,
  .ep_card {
    width: 240px;
    height: 128px;
    background-color: #fafafa;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 4px 0px rgba(0, 0, 0, 0.12),
      0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    &:active {
      transform: translateY(15px);
    }
    .loc_name,
    .ep_name {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.15px;
      margin: 0;
    }

    .loc_type,
    .ep_date {
      color: var(--grey-text);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.25px;
      margin: 0;
    }
    .ep_episode {
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0.25px;
      margin: 0;
    }
  }
}
